spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username:
    password:
    protocol: smtp
    properties:
      mail:
        smtp:
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 300
          writetimeout: 5000

  thymeleaf:
    enable: true

envio:
  email:
    remetente:
    nomeRemetente: 'John'

server:
  port: 8082